<div class="body">
  <div class="layout">
    <!-- Aside (barra lateral) del administrador -->
    <app-aside-administrador></app-aside-administrador>

    <div class="main">
      <div class="content">
        <div class="card">
          <!-- Encabezado -->
          <div class="card-header">
            <h2 class="card-title">Jefes de Carrera</h2>
            <button
              class="btn btn-primary"
              id="addDepartmentHeadBtn"
              (click)="abrirModal()"
            >
              <i class="fas fa-plus btn-icon"></i>
              Agregar Jefe de Carrera
            </button>
          </div>

          <!-- Tabla de Jefes de Carrera -->
          <div class="table-container">
            <table class="data-table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Nombre</th>
                  <th>Correo</th>
                  <th>Carrera</th>
                  <th>Facultad</th>
                  <th>Escuela</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let jefe of jefes">
                  <td>{{ jefe.usuario_id }}</td>
                  <td>{{ jefe.usuario_nombre }}</td>
                  <td>{{ jefe.usuario_correo }}</td>
                  <td>{{ jefe.carrera_nombre }}</td>
                  <td>{{ jefe.facultad_nombre }}</td>
                  <td>{{ jefe.escuela_nombre }}</td>
                  <td>
                    <div class="table-actions">
                      <button 
                        class="btn-action btn-edit" 
                        (click)="abrirModal(jefe.usuario_id)" 
                        [attr.data-id]="jefe.usuario_id">
                        <i class="fas fa-edit"></i>
                      </button>
                      <button class="btn-action btn-delete" (click)="eliminarJefe(jefe)">
                        <i class="fas fa-trash"></i>
                      </button>
                      
                      
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- Paginación -->
          <app-paginacion-administrador></app-paginacion-administrador>
        </div>
      </div>
    </div>

    <!-- Modal para agregar o editar Jefe de Carrera -->
    <app-modal-jefecarrera
      *ngIf="mostrarModal"
      [usuarioId]="usuarioId"
      [esActualizar]="esActualizar"
      (cerrarModal)="cerrarModal()"
    ></app-modal-jefecarrera>
  </div>
</div>
