<aside class="sidebar" id="sidebar">
    <div class="sidebar-header">
        <h2><i class="fas fa-graduation-cap"></i> Checador</h2>
        <button class="toggle-sidebar" id="toggle-sidebar">
            <i class="fas fa-bars"></i>
        </button>
    </div>
    <div class="sidebar-content">
        <div class="sidebar-section">
          <div class="sidebar-menu">
            <a #menuLink (click)="navegar('checador')" >
              <i class="fas fa-calendar-alt"></i> Horario
            </a>
            <a #menuLink (click)="navegar('checador-asistencias') ">
              <i class="fas fa-clipboard-check"></i> Asistencias
            </a>
          
          </div>
        </div>
      </div>
    <div class="sidebar-footer">
        <div class="user-info">
            <div class="user-avatar">
                CM
            </div>
            <div>
                <div class="user-role">Checador</div>
            </div>
        </div>
        <!-- Botón de Cerrar sesión estilizado -->
        <button (click)="cerrarSesion()" class="cerrar-sesion-btn">
            <i class="fas fa-sign-out-alt"></i>
        </button>
    </div>
</aside>