<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

<div class="modal-overlay" [ngClass]="{ active: isOpen }">
  <div class="modal">
    <div class="modal-header">
      <h3 class="modal-title"><i class="fa-solid fa-school"></i> 
        {{ escuelaData.id ? 'Editar Escuela' : 'Agregar Nueva Escuela' }}</h3>
      <button class="modal-close" (click)="cerrarModal()">
        <i class="fa-solid fa-times"></i>
      </button>
    </div>
    
    <div class="modal-body">
      <form (ngSubmit)="guardarEscuela()">
        <div class="form-group">
          <label for="folio" class="form-label">Folio</label>
          <div class="input-group">
            <input id="folio" type="text" name="folio" [(ngModel)]="escuelaData.folio" class="form-input" required maxlength="20">
            <i class="fa-solid fa-hashtag input-icon"></i>
          </div>
        </div>
        <div class="form-group">
          <label for="nombre" class="form-label">Nombre de la Escuela</label>
          <div class="input-group">
            <input id="nombre" type="text" name="nombre" [(ngModel)]="escuelaData.nombre" class="form-input" required maxlength="100">
            <i class="fa-solid fa-building-columns input-icon"></i>
          </div>
        </div>
      </form>
    </div>
    
    <div class="modal-footer">
      <button class="btn btn-secondary" (click)="cerrarModal()">Cancelar</button>
      <button class="btn btn-primary" (click)="guardarEscuela()">
        <i class="fa-solid fa-save btn-icon"></i> 
        {{ escuelaData.id ? 'Actualizar' : 'Guardar' }}
      </button>
    </div>
  </div>
</div>
