<div class="sidebar">
        <div class="sidebar-content">
            <div class="profile">
                <div class="profile-img">
                    <i class="fas fa-user"></i>
                </div>
                <div class="profile-name">Ivar Jose Armenta Lopez</div>
                <div class="profile-title">Profesor</div>
            </div>
            
            <ul class="menu">
                <li class="menu-item active" data-section="courses-section">
                    <i class="fas fa-book"></i>
                    Materias Asignadas
                </li>
                <li class="menu-item" data-section="attendance-section">
                    <i class="fas fa-user-check"></i>
                    Registrar Asistencia
                </li>

            </ul>
        </div>
        
        <div class="sidebar-footer">
            <button class="btn-logout">
                <i class="fas fa-sign-out-alt"></i>
                Cerrar Sesión
            </button>
        </div>
    </div>