<div class="body">
  <app-aside-jefecarrera></app-aside-jefecarrera>

  <div class="main-content">
    <header class="header">
      <h1>Gestión de Grupos</h1>
    </header>

    <main class="dashboard">
      <div class="section-title">
        <span>Grupos</span>
        <button class="add-button" (click)="abrirModalNuevo()">
          <i class="fa-solid fa-plus"></i> Agregar Grupo
        </button>
      </div>

      <div class="search-container">
        <i class="fa-solid fa-magnifying-glass search-icon"></i>
        <input
          type="text"
          class="search-input"
          placeholder="Buscar grupo por nombre, carrera o semestre..."
        />
      </div>

      <div class="groups-grid fade-in-up">
        <div *ngFor="let grupo of grupos" class="group-card">
          <div class="group-card-icon">
            <i class="fa-solid fa-users"></i>
          </div>
          <div class="group-card-info">
            <div class="group-card-name">{{ grupo.nombre }}</div>
            <div class="group-card-code">{{ grupo.id }}</div>
            <div class="group-card-subject">{{ grupo.carrera_nombre }}</div>
            <div class="group-card-semestre">
              Semestre: {{ grupo.semestre }}
            </div>
          </div>
          <div class="group-card-actions">
            <button
              class="group-card-button"
              (click)="editarGrupo(grupo)"
              title="Editar Grupo"
            >
              <i class="fa-solid fa-pen-to-square"></i>
            </button>
            <button
              class="group-card-button delete"
              (click)="eliminarGrupo(grupo.id)"
              title="Eliminar Grupo"
            >
              <i class="fa-solid fa-trash"></i>
            </button>
          </div>
        </div>
      </div>

      <app-paginacion></app-paginacion>
    </main>
  </div>

  <!-- Bind de isOpen y de grupoAEditar -->
  <app-modal-grupos
    [isOpen]="modalOpen"
    (isOpenChange)="modalOpen = $event"
    [grupoSeleccionado]="grupoAEditar"
    (grupoActualizado)="onModalClose()"
  ></app-modal-grupos>
</div>
